.stats-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.stat {
  padding: 8px;
}

.stat-name {
  font-size: 16px;
}

@media (max-width: 768px) {
  .stats-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 310px) {
  .stats-container {
    grid-template-columns: repeat(1, 1fr);
  }
}